@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSansLight/OpenSansLight.eot');
    src: url('../fonts/OpenSansLight/OpenSansLight.eot') format("embedded-opentype"), url('../fonts/OpenSansLight/OpenSansLight.woff2') format("woff2"), url('../fonts/OpenSansLight/OpenSansLight.woff') format("woff"), url('../fonts/OpenSansLight/OpenSansLight.ttf') format("truetype"), url('../fonts/OpenSansLight/OpenSansLight.svg#OpenSansLight') format("svg");
}

@font-face {
    font-family: 'BitterRegular';
    src: url('../fonts/BitterRegular/BitterRegular.eot');
    src: url('../fonts/BitterRegular/BitterRegular.eot') format("embedded-opentype"), url('../fonts/BitterRegular/BitterRegular.woff2') format("woff2"), url('../fonts/BitterRegular/BitterRegular.woff') format("woff"), url('../fonts/BitterRegular/BitterRegular.ttf') format("truetype"), url('../fonts/BitterRegular/BitterRegular.svg#BitterRegular') format("svg");
}

@font-face {
    font-family: 'BitterBold';
    src: url('../fonts/BitterBold/BitterBold.eot');
    src: url('../fonts/BitterBold/BitterBold.eot') format("embedded-opentype"), url('../fonts/BitterBold/BitterBold.woff2') format("woff2"), url('../fonts/BitterBold/BitterBold.woff') format("woff"), url('../fonts/BitterBold/BitterBold.ttf') format("truetype"), url('../fonts/BitterBold/BitterBold.svg#BitterBold') format("svg");
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSansSemibold/OpenSansSemibold.eot');
    src: url('../fonts/OpenSansSemibold/OpenSansSemibold.eot') format("embedded-opentype"), url('../fonts/OpenSansSemibold/OpenSansSemibold.woff2') format("woff2"), url('../fonts/OpenSansSemibold/OpenSansSemibold.woff') format("woff"), url('../fonts/OpenSansSemibold/OpenSansSemibold.ttf') format("truetype"), url('../fonts/OpenSansSemibold/OpenSansSemibold.svg#OpenSansSemibold') format("svg");
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular/OpenSansRegular.eot') format("embedded-opentype"), url('../fonts/OpenSansRegular/OpenSansRegular.woff2') format("woff2"), url('../fonts/OpenSansRegular/OpenSansRegular.woff') format("woff"), url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format("truetype"), url('../fonts/OpenSansRegular/OpenSansRegular.svg#OpenSansRegular') format("svg");
}