//fonts
$f-sans-light: 'OpenSansLight', sans-serif;
$f-sans-regular: 'OpenSansRegular', sans-serif;
$f-regular: 'BitterRegular', sans-serif;
$f-bold: 'BitterBold', sans-serif;
$f-semibold: 'OpenSansSemibold', sans-serif;

//colors
$c-body: #F2F2F2;
$c-white: #ffffff;
$c-black: #000000;
$c-blue: #233488;
$c-dark-blue: #180c4b;
$c-dark: #212121;
$c-gray: #5d5d5d;
$c-green: #2ecdae;
$c-nav-active: #203152;
$c-nav: rgba(0,0,0, .4);
$c-head: rgba(0,0,0, .03);
$c-price: #212c9e;
$c-link: #4A6CFA;
$c-input: #373737;
$c-blue: #23b0e9;
$c-border: #4964BD;

//media
$m-extra-small: "max-width: 576px";
$m-small: "min-width: 576px";
$m-medium: "min-width: 768px";
$m-large: "min-width: 992px";
$m-laptop: "min-width: 1366px";
$m-extra-large: "min-width: 1200px";